{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load tz %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block head_title %}{% endblock %}</title>
  <meta name="keywords" content="HTML5 Template">
  <meta name="description" content="ADMAG — Responsive Blog & Magazine HTML Template">
  <meta name="author" content="digitaltheme.co">
  <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-touch-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-touch-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-touch-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-touch-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-touch-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-touch-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon-180x180.png' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-16x16.png' %}" sizes="16x16">
  <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-32x32.png' %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-96x96.png' %}" sizes="96x96">
  <link rel="icon" type="image/png" href="{% static 'img/favicon/android-chrome-192x192.png' %}" sizes="192x192">

  <!-- Google Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,300italic,400,400italic,500,700,700italic,900" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet" type="text/css">

  <!-- Icon Font -->
  <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  {% block head_css %}{% endblock %}
  {% block head_javascript %}{% endblock %}

</head>
<body class="body-color4">
<div id="main" class="header-big">

  <header class="header-wrapper clearfix">
    <div class="header-top">
      <div class="container">
        <div class="mag-content">
          <div class="row">
            <div class="col-md-12">

              {% block top_bar %}
              <ul class="top-menu pull-left">
                <li><a href="{% url 'home' %}">{% trans 'Αρχική' %}</a></li>
                <li><a href="#">{% trans 'Σχετικά' %}</a></li>
                <li><a href="#">{% trans 'Επικοινωνία' %}</a></li>
              </ul>

              <div class="social-icons pull-right">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus fa-lg"></i></a>
              </div>
              {%  endblock %}

            </div>
          </div>
        </div>
      </div>
    </div><!-- .header-top -->

    <div class="header-mid">
      <div class="container">
        <div class="mag-content">
          <div class="row">
            <div class="col-md-12">
              <div class="header-mid-wrapper text-center clearfix">
                <div class="mid-logo-wrapper">
                  <a class="logo" href="{% url 'home' %}" title="{% trans 'Ηλεκτρονικό Περιοδικό για το Ελληνικό Μπριτζ' %}" rel="home">
                    Bridge News <span>gr</span>
                  </a><!-- .logo -->
                  <p class="logo-description">{% trans 'Ηλεκτρονικό Περιοδικό για το Ελληνικό Μπριτζ' %}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- .header-mid -->

    <div class="header text-center" id="header">
      <div class="container">
        <div class="mag-content">
          <div class="row">
            <div class="col-md-12">
                          <!-- Mobile Menu Button -->
            <a class="navbar-toggle collapsed" id="nav-button" href="#mobile-nav">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a><!-- .navbar-toggle -->

            <!-- Main Nav Wrapper -->
            <nav class="navbar mega-menu">
              <a class="logo" href="{% url 'home' %}" title="{% trans 'Ηλεκτρονικό Περιοδικό για το Ελληνικό Μπριτζ' %}" rel="home">
                Bridge News <span>gr</span>
              </a><!-- .logo -->
              {%  block navbar %}
              <!-- Navigation Menu -->
                          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li>
                  <a href="{% url 'posts-index' %}">{% trans "Ειδήσεις" %}</a>
                </li><!-- .dropdown .menu-color1 -->
                <li>
                  <a href="#">{% trans "Άρθρα" %}</a>
                </li><!-- .dropdown .menu-color1 -->
                {% comment %}
                <!-- Fullwith Mega Menu -->
                <li class="dropdown mega-full menu-color2">
                  <a href="grid.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tech</a>
                  <ul class="dropdown-menu fullwidth">
                    <li>
                      <!-- Tababble Menu -->
                      <div class="tabbable tab-hover tabs-left">
                        <ul class="nav nav-tabs tab-hover">
                          <li><a href="#a" data-toggle="tab" class="first">Reviews</a></li>
                          <li><a href="#b" data-toggle="tab">Apps</a></li>
                          <li><a href="#c" data-toggle="tab">Design</a></li>
                          <li><a href="#d" data-toggle="tab">Gadgets</a></li>
                          <li><a href="#e" data-toggle="tab">Mobile</a></li>
                        </ul><!-- .nav .nav-tabs .tab-hover -->

                        <div class="tab-content">

                          <!-- News Block 1 -->
                          <div class="tab-pane active" id="a">
                            <div class="mega-menu-news">

                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div><!-- .mega-menu-img-->

                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">Nikon D5000 review: Design, Controls, Screen</a>
                                </h4><!-- .entry-title -->
                                <p class="simple-share">
                                  <span class="star-reviews">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                  </span>
                                </p><!-- .simple-share -->
                              </div><!-- .mega-menu-detail-->

                            </div><!-- .mega-menu-news -->

                            <div class="mega-menu-news">

                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div><!-- .mega-menu-img-->

                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">Apple iOS 8 Review</a>
                                </h4><!-- .entry-title -->
                                <p class="simple-share">
                                  <span class="star-reviews">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                  </span>
                                </p><!-- .simple-share -->
                              </div><!-- .mega-menu-detail-->

                            </div><!-- .mega-menu-news -->

                            <div class="mega-menu-news">

                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div><!-- .mega-menu-img-->

                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">Canon 70D review</a>
                                </h4><!-- .entry-title -->
                                <p class="simple-share">
                                  <span class="star-reviews">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                  </span>
                                </p><!-- .simple-share -->
                              </div><!-- .mega-menu-detail-->

                            </div><!-- .mega-menu-news -->

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">iMac review</a>
                                </h4>
                                <p class="simple-share">
                                  <span class="star-reviews">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                  </span>
                                </p>
                              </div>
                            </div><!-- .mega-menu-news -->

                           </div><!-- .tab-pane -->
                           <!-- End News Block 1 -->

                           <!-- News Block 2 -->
                           <div class="tab-pane" id="b">

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">Top 15 Android tablet apps for work and play</a>
                                </h4>
                              </div>
                            </div><!-- .mega-menu-news -->

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">Apple iOS 8 Review</a>
                                </h4>
                              </div>
                            </div><!-- .mega-menu-news -->

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">15 apps you need to download right now</a>
                                </h4>
                              </div>
                            </div><!-- .mega-menu-news -->

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">9 Apps for Transforming Your Phone into The Ultimate Toolkit</a>
                                </h4>
                              </div>
                            </div><!-- .mega-menu-news -->
                          </div><!-- .tab-pane -->
                          <!-- End News Block 2 -->

                          <!-- News Block 3 -->
                          <div class="tab-pane" id="c">

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">Asia's 100 Fastest Growing Technology Companies</a>
                                </h4>
                              </div>
                            </div><!-- .mega-menu-news -->

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">Nikon D5000 review: Design, Controls, Screen</a>
                                </h4>
                              </div>
                            </div><!-- .mega-menu-news -->

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">20 Incredible Job Sites for Freelance Computer Techs</a>
                                </h4>
                              </div>
                            </div><!-- .mega-menu-news -->

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">5 Ways to Use the Web Developer Toolbar for SEO</a>
                                </h4>
                              </div>
                            </div><!-- .mega-menu-news -->

                          </div><!-- .tab-pane -->
                          <!-- End News Block 3 -->

                          <!-- News Block 4 -->
                          <div class="tab-pane" id="d">

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">5 Gadget Gifts for Father's Day</a>
                                </h4>
                              </div>
                            </div><!-- .mega-menu-news -->

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">Audio Equalizer Apps Beyond the Smartphone Sound</a>
                                </h4>
                              </div>
                            </div><!-- .mega-menu-news -->

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">Smartwatch App Concepts You Need to See</a>
                                </h4>
                              </div>
                            </div><!-- .mega-menu-news -->

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">How to Buy the Right Headphones</a>
                                </h4>
                              </div>
                            </div><!-- .mega-menu-news -->

                          </div><!-- .tab-pane -->
                          <!-- End News Block 4 -->

                          <!-- End News Block 5 -->
                          <div class="tab-pane" id="e">

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">What the Viny "Comeback" Really Looks Like</a>
                                </h4>
                              </div>
                            </div><!-- .mega-menu-news -->

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">Are smartphones stressing kids out?</a>
                                </h4>
                              </div>
                            </div><!-- .mega-menu-news -->

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">Android Wear is Coming to Luxury Watches</a>
                                </h4>
                              </div>
                            </div><!-- .mega-menu-news -->

                            <div class="mega-menu-news">
                              <div class="mega-menu-img">
                                <a href="#">
                                  <img src="http://placehold.it/208x149" alt=""/>
                                </a>
                              </div>
                              <div class="mega-menu-detail">
                                <h4 class="entry-title">
                                  <a href="#">These are the four apps that every smartphone must get right</a>
                                </h4>
                              </div>
                            </div><!-- .mega-menu-news -->

                          </div><!-- .tab-pane -->
                          <!-- End News Block 5 -->

                        </div><!-- .tab-content -->
                      </div><!-- .tabbable -->
                    </li>
                  </ul><!-- .dropdown-menu .fullwidth -->
                </li><!-- .dropdown .mega-full .menu-color2 -->
                <!-- End Mega Menu -->

                <li class="dropdown mega-full menu-color3">
                  <a href="minimal_blog.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lifestyle</a>
                  <ul class="dropdown-menu fullwidth">
                    <li>
                      <!-- 5 block news in Mega Menu -->
                      <div class="mega-menu-5block">

                        <div class="mega-menu-news">
                          <div class="mega-menu-img">
                            <a href="#">
                              <img src="http://placehold.it/208x149" alt=""/>
                            </a>
                          </div>
                          <div class="mega-menu-detail">
                            <h4 class="entry-title">
                              <a href="#">6 Tips Before Traveling Internationally</a>
                            </h4>
                          </div>
                        </div><!-- .mega-menu-news -->

                        <div class="mega-menu-news">
                          <div class="mega-menu-img">
                            <a href="#">
                              <img src="http://placehold.it/208x149" alt=""/>
                            </a>
                          </div>
                          <div class="mega-menu-detail">
                            <h4 class="entry-title">
                              <a href="#">How Can I Find a Coffee Shop That'll Actually Let Me Work?</a>
                            </h4>
                          </div>
                        </div><!-- .mega-menu-news -->

                        <div class="mega-menu-news">
                          <div class="mega-menu-img">
                            <a href="#">
                              <img src="http://placehold.it/208x149" alt=""/>
                            </a>
                          </div>
                          <div class="mega-menu-detail">
                            <h4 class="entry-title">
                              <a href="#">10 Tips for Taking Great Outdoor Photos</a>
                            </h4>
                          </div>
                        </div><!-- .mega-menu-news -->

                        <div class="mega-menu-news">
                          <div class="mega-menu-img">
                            <a href="#">
                              <img src="http://placehold.it/208x149" alt=""/>
                            </a>
                          </div>
                          <div class="mega-menu-detail">
                            <h4 class="entry-title">
                              <a href="#">9 Reasons To Run in the Morning</a>
                            </h4>
                          </div>
                        </div><!-- .mega-menu-news -->

                        <div class="mega-menu-news">
                          <div class="mega-menu-img">
                            <a href="#">
                              <img src="http://placehold.it/208x149" alt=""/>
                            </a>
                          </div>
                          <div class="mega-menu-detail">
                            <h4 class="entry-title">
                              <a href="#">Never Ask a Busy Person to Lunch</a>
                            </h4>
                          </div>
                        </div><!-- .mega-menu-news -->

                        </div><!-- .mega-menu-5block -->
                    </li>
                  </ul><!-- .dropdown-menu .fullwidth -->
                </li><!-- .dropdown .mega-full .menu-color3 -->
                <!-- / Mega Menu -->

                <!-- List Menu -->
                <li class="dropdown mega-full menu-color4">
                  <a href="blog_modern.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Business</a>
                  <ul class="dropdown-menu fullwidth">
                    <li>
                      <!-- 5 block news in Mega Menu -->
                      <div class="mega-menu-5block">

                        <div class="mega-menu-news">
                          <div class="mega-menu-img">
                            <a href="#">
                              <img src="http://placehold.it/208x149" alt=""/>
                            </a>
                          </div>
                          <div class="mega-menu-detail">
                            <h4 class="entry-title">
                              <a href="#">3 things I learned about running startup board meetings</a>
                            </h4>
                          </div>
                        </div><!-- .mega-menu-news -->

                        <div class="mega-menu-news">
                          <div class="mega-menu-img">
                            <a href="#">
                              <img src="http://placehold.it/208x149" alt=""/>
                            </a>
                          </div>
                          <div class="mega-menu-detail">
                            <h4 class="entry-title">
                              <a href="#">How Technology Is Revolutionizing the Franchise World</a>
                            </h4>
                          </div>
                        </div><!-- .mega-menu-news -->

                        <div class="mega-menu-news">
                          <div class="mega-menu-img">
                            <a href="#">
                              <img src="http://placehold.it/208x149" alt=""/>
                            </a>
                          </div>
                          <div class="mega-menu-detail">
                            <h4 class="entry-title">
                              <a href="#">8 Ways to Know If Your Business Is Ready to Franchise</a>
                            </h4>
                          </div>
                        </div><!-- .mega-menu-news -->

                        <div class="mega-menu-news">
                          <div class="mega-menu-img">
                            <a href="#">
                              <img src="http://placehold.it/208x149" alt=""/>
                            </a>
                          </div>
                          <div class="mega-menu-detail">
                            <h4 class="entry-title">
                              <a href="#">9 Business Leaders Share the Best and Worst Advice They've Heard</a>
                            </h4>
                          </div>
                        </div><!-- .mega-menu-news -->

                        <div class="mega-menu-news">
                          <div class="mega-menu-img">
                            <a href="#">
                              <img src="http://placehold.it/208x149" alt=""/>
                            </a>
                          </div>
                          <div class="mega-menu-detail">
                            <h4 class="entry-title">
                              <a href="#">Tickets and prices for Metro and public transport in Milan</a>
                            </h4>
                          </div>
                        </div><!-- .mega-menu-news -->
                      </div><!-- .mega-menu-5block -->
                    </li>
                  </ul><!-- .dropdown-menu .fullwidth -->
                </li><!-- .dropdown .mega-full .menu-color4 -->

                <!-- Mega Menu -->
                <li class="dropdown mega-full menu-color5">
                  <a href="header-style3.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Entertainment</a>
                  <ul class="dropdown-menu fullwidth">
                    <li>
                      <!-- 5 block news in Mega Menu -->
                      <div class="mega-menu-5block">

                        <div class="mega-menu-news">
                          <div class="mega-menu-img">
                            <a href="#">
                              <img src="http://placehold.it/208x149" alt=""/>
                            </a>
                          </div>
                          <div class="mega-menu-detail">
                            <h4 class="entry-title">
                              <a href="#">Does going to the gym count as a sport?</a>
                            </h4>
                          </div>
                        </div><!-- .mega-menu-news -->

                        <div class="mega-menu-news">
                          <div class="mega-menu-img">
                            <a href="#">
                              <img src="http://placehold.it/208x149" alt=""/>
                            </a>
                          </div>
                          <div class="mega-menu-detail">
                            <h4 class="entry-title">
                              <a href="#">Older actors still hot in Hollywood</a>
                            </h4>
                          </div>
                        </div><!-- .mega-menu-news -->

                        <div class="mega-menu-news">
                          <div class="mega-menu-img">
                            <a href="#">
                              <img src="http://placehold.it/208x149" alt=""/>
                            </a>
                          </div>
                          <div class="mega-menu-detail">
                            <h4 class="entry-title">
                              <a href="#">Inside U2's Ambitious Upcoming Tour Strategy</a>
                            </h4>
                          </div>
                        </div><!-- .mega-menu-news -->

                        <div class="mega-menu-news">
                          <div class="mega-menu-img">
                            <a href="#">
                              <img src="http://placehold.it/208x149" alt=""/>
                            </a>
                          </div>
                          <div class="mega-menu-detail">
                            <h4 class="entry-title">
                              <a href="#">How Bollywood is romancing with period films to woo modern audience</a>
                            </h4>
                          </div>
                        </div><!-- .mega-menu-news -->

                        <div class="mega-menu-news">
                          <div class="mega-menu-img">
                            <a href="#">
                              <img src="http://placehold.it/208x149" alt=""/>
                            </a>
                          </div>
                          <div class="mega-menu-detail">
                            <h4 class="entry-title">
                              <a href="#">9 Curious Facts About Charlie Chaplin</a>
                            </h4>
                          </div>
                        </div><!-- .mega-menu-news -->

                      </div><!-- .mega-menu-5block -->
                    </li>
                  </ul><!-- .dropdown-menu .fullwidth -->
                </li><!-- .dropdown .mega-full .menu-color5 -->
                <!-- End Mega Menu -->

                <!-- Dropdown List Menu -->
                <li class="dropdown menu-color1">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Features</a>
                  <ul class="dropdown-menu" role="menu">

                    <li class="dropdown-submenu">
                      <a href="index.html">Header Style</a>
                      <ul class="dropdown-menu">
                        <li><a href="index.html">Header Style 1</a></li>
                        <li><a href="header-style2.html">Header Style 2</a></li>
                        <li><a href="header-style3.html">Header Style 3</a></li>
                        <li><a href="fixed_left.html">Header Style 4</a></li>
                      </ul><!-- .dropdown-menu -->
                    </li><!-- .dropdown-submenu -->

                    <li class="dropdown-submenu">
                      <a href="index.html">Footer Style</a>
                      <ul class="dropdown-menu">
                        <li><a href="index.html#footer">Footer Style 1</a></li>
                        <li><a href="footer-style2.html#footer">Footer Style 2</a></li>
                      </ul><!-- .dropdown-menu -->
                    </li><!-- .dropdown-submenu -->

                    <li class="dropdown-submenu">
                      <a href="#">Pages</a>
                      <ul class="dropdown-menu">
                        <li><a href="page.html">About Page</a></li>
                        <li><a href="page_contact.html">Contact Page</a></li>
                        <li><a href="page_author.html">Author page</a></li>
                        <li><a href="page_tags.html">Tags page</a></li>
                        <li><a href="page_search.html">Search page</a></li>
                        <li><a href="page_404.html">404 page</a></li>
                      </ul><!-- .dropdown-menu -->
                    </li><!-- .dropdown-submenu -->

                    <li class="dropdown-submenu">
                      <a href="#">Posts</a>
                      <ul class="dropdown-menu">
                        <li><a href="post_simple.html">Simple Post</a></li>
                        <li><a href="post_review.html">Review Post</a></li>
                        <li><a href="post_parallax.html">Parallax post</a></li>
                        <li><a href="post_fullwidth.html">Full Width Post</a></li>
                        <li><a href="post_fixed.html">Fixed Sidebar Post</a></li>
                        <li><a href="post_slider.html">Gallery Post</a></li>
                        <li><a href="post_video.html">Video Post</a></li>
                      </ul><!-- .dropdown-menu -->
                    </li><!-- .dropdown-submenu -->

                    <li class="dropdown-submenu">
                      <a href="#">Category Layouts</a>
                      <ul class="dropdown-menu">
                        <li><a href="blog_classic.html">Classic blog</a></li>
                        <li><a href="blog_modern.html">Modern blog</a></li>
                        <li><a href="grid_sidebar.html">Grid blog</a></li>
                        <li><a href="minimal_blog.html">Minimal blog</a></li>
                        <li><a href="fixed_blog.html">Fixed sidebar blog</a></li>
                        <li><a href="big_blog.html">Left big column blog</a></li>
                      </ul><!-- .dropdown-menu -->
                    </li><!-- .dropdown-submenu -->

                    <li><a href="page_typography.html">Typography</a></li>
                    <li><a href="page_shortcodes.html">Shortcodes</a></li>
                  </ul><!-- dropdown-menu -->
                </li><!-- .dropdown .menu-color1 -->
                <!-- End Dropdown List Menu -->
                {% endcomment %}

              </ul><!-- .nav .navbar-nav -->
            </div><!-- .navbar-collapse -->              <!-- End Navigation Menu -->
            {%  endblock %}

              <div class="header-right">
                <div class="social-icons">
                  <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook fa-lg"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus fa-lg"></i></a>
                  <!-- Only for Fixed Sidebar Layout -->
                  <a href="#" class="fixed-button navbar-toggle" id="fixed-button">
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                  </a><!-- .fixed-button -->
                </div><!-- .social-icons -->
              </div><!-- .header-right -->

            </nav><!-- .navbar -->

            <div id="sb-search" class="sb-search">
              <form>
                <input class="sb-search-input" placeholder="Enter your search text..." type="text" value="" name="search" id="search">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search fa fa-search" data-toggle="tooltip" data-placement="bottom" title="Search"></span>
              </form>
            </div><!-- .sb-search -->            </div>
          </div>
        </div>
      </div>
    </div><!-- .header -->

  </header><!-- .header-wrapper -->
<div class="container main-wrapper">

{% block top_ad %}
  <!-- End Main Banner -->
<div class="mag-content clearfix">
  <div class="row">
    <div class="col-md-12">
      <div class="ad728-wrapper">
        <a href="#">
          <img src="http://placehold.it/728x90" alt=""/>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End Main Banner -->
{% endblock %}

{% block content %}
  <div class="main-content mag-content clearfix">
    <div class="row" data-stickyparent>
      <div class="col-md-8">
        <div class="admag-block">
          <div class="row">
            <div class="col-md-12">
              <article class="news-block big-block">
                <a href="#" class="overlay-link">
                  <figure class="image-overlay">
                    <img src="http://placehold.it/730x480" alt=""/>
                  </figure>
                </a>
                <a href="#" class="category">
                  Love
                </a>
                <header class="news-details">
                  <h3 class="news-title">
                    <a href="#">
                      10 Photos of the "World's Best Father"
                    </a>
                  </h3>
                  <p>What's Spanish for "I know you speak English?" Guy's a pro. It's a hug, Michael. I'm hugging you. Not tricks, Michael, illusions. Well, what do you expect, mother? Army had half a day. I care deeply for nature. I'm half machine.</p>
                  <p class="simple-share">
                    by <a href="#"><b>John Doe</b></a> -
                    <span class="article-date"><i class="fa fa-clock-o"></i> 3 minutes ago</span>
                  </p>
                </header>
              </article><!-- News block -->
            </div>
          </div>

            <div class="row">
              <div class="col-md-6">
                <article class="news-block small-block">
                  <a href="#" class="overlay-link">
                    <figure class="image-overlay">
                      <img src="http://placehold.it/350x230" alt=""/>
                    </figure>
                  </a>
                  <a href="#" class="category">
                    Travel
                  </a>
                  <header class="news-details">
                    <h3 class="news-title">
                      <a href="#">
                        10 Tips Before Traveling Internationally
                      </a>
                    </h3>
                    <p class="simple-share">
                      by <a href="#"><b>John Doe</b></a> -
                      <span class="article-date"><i class="fa fa-clock-o"></i> 46 minutes ago</span>
                    </p>
                  </header>
                </article><!-- News block -->
              </div>

              <div class="col-md-6">
                <article class="news-block small-block">
                  <a href="#" class="overlay-link">
                    <figure class="image-overlay">
                      <img src="http://placehold.it/350x230" alt=""/>
                    </figure>
                  </a>
                  <a href="#" class="category">
                    Advice
                  </a>
                  <div class="news-details">
                    <h3 class="news-title">
                      <a href="#">
                        How Can I Find a Coffee Shop That'll Actually Let Me Work?
                      </a>
                    </h3>
                    <p class="simple-share">
                      by <a href="#"><b>John Doe</b></a> -
                      <span class="article-date"><i class="fa fa-clock-o"></i> 2 hours ago</span>
                    </p>
                  </div>
                </article><!-- News block -->
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <article class="news-block small-block">
                  <a href="#" class="overlay-link">
                    <figure class="image-overlay">
                      <img src="http://placehold.it/350x230" alt=""/>
                    </figure>
                  </a>
                  <a href="#" class="category">
                    Advice
                  </a>
                  <header class="news-details">
                    <h3 class="news-title">
                      <a href="#">
                        10 Tips for Taking Great Outdoor Photos
                      </a>
                    </h3>
                    <p class="simple-share">
                      by <a href="#"><b>John Doe</b></a> -
                      <span class="article-date"><i class="fa fa-clock-o"></i> 4 hours ago</span>
                    </p>
                  </header>
                </article><!-- News block -->
              </div>

              <div class="col-md-6">
                <article class="news-block small-block">
                  <a href="#" class="overlay-link">
                    <figure class="image-overlay">
                      <span class="play-button"><i class="fa fa-play"></i></span>
                      <img src="http://placehold.it/350x230" alt=""/>
                    </figure>
                  </a>
                  <a href="#" class="category">
                    Food
                  </a>
                  <header class="news-details">
                    <h3 class="news-title">
                      <a href="#">
                        Never Ask a Busy Person to Lunch
                      </a>
                    </h3>
                    <p class="simple-share">
                      by <a href="#"><b>John Doe</b></a> -
                      <span class="article-date"><i class="fa fa-clock-o"></i> 7 hours ago</span>
                    </p>
                  </header>
                </article><!-- News block -->
              </div>
            </div>

          </div><!-- .admag-block -->

          <div class="news-text-block">
            <div class="row">
              <div class="col-md-6">
                <article class="widget-post clearfix">
                  <div class="simple-thumb">
                    <a href="#">
                      <img src="http://placehold.it/95x80" alt=""/>
                    </a>
                  </div>
                  <header>
                    <h3>
                      <a href="#">7 Tips for Creating a Functional Home Workspace</a>
                    </h3>
                    <p class="simple-share">
                      <span><i class="fa fa-clock-o"></i> 2 minutes ago</span>
                    </p>
                  </header>
                </article>

                <article class="widget-post clearfix">
                  <div class="simple-thumb">
                    <a href="#">
                      <img src="http://placehold.it/95x80" alt=""/>
                    </a>
                  </div>
                  <header>
                    <h3>
                      <a href="#">Does going to the gym count as a sport?</a>
                    </h3>
                    <p class="simple-share">
                      <span><i class="fa fa-clock-o"></i> 2 minutes ago</span>
                    </p>
                  </header>
                </article>

                <article class="widget-post clearfix">
                  <div class="simple-thumb">
                    <a href="#">
                      <img src="http://placehold.it/95x80" alt=""/>
                    </a>
                  </div>
                  <header>
                    <h3>
                      <a href="#">Older actors still hot in Hollywood</a>
                    </h3>
                    <p class="simple-share">
                      <span><i class="fa fa-clock-o"></i> 3 minutes ago</span>
                    </p>
                  </header>
                </article>

              </div>

              <div class="col-md-6">
                <article class="widget-post clearfix">
                  <div class="simple-thumb">
                    <a href="#">
                      <img src="http://placehold.it/95x80" alt=""/>
                    </a>
                  </div>
                  <header>
                    <h3>
                      <a href="#">8 Gadget Gifts for Father's Day</a>
                    </h3>
                    <p class="simple-share">
                      <span><i class="fa fa-clock-o"></i> 3 minutes ago</span>
                    </p>
                  </header>
                </article>

                <article class="widget-post clearfix">
                  <div class="simple-thumb">
                    <a href="#">
                      <img src="http://placehold.it/95x80" alt=""/>
                    </a>
                  </div>
                  <header>
                    <h3>
                      <a href="#">Inside U2's Ambitious Upcoming Tour Strategy</a>
                    </h3>
                    <p class="simple-share">
                      <span><i class="fa fa-clock-o"></i> 5 minutes ago</span>
                    </p>
                  </header>
                </article>

                <article class="widget-post clearfix">
                  <div class="simple-thumb">
                    <a href="#">
                      <img src="http://placehold.it/95x80" alt=""/>
                    </a>
                  </div>
                  <header>
                    <h3>
                      <a href="#">The 20 most important Instagram pictures of all span</a>
                    </h3>
                    <p class="simple-share">
                      <span><i class="fa fa-clock-o"></i> 725,566 views</span>
                    </p>
                  </header>
                </article>
              </div>
            </div>
          </div>

          <!-- Mid ad -->
<div class="row">
   <div class="col-md-12">
     <div class="ad728-wrapper mid-wrapper">
       <a href="#">
         <img src="http://placehold.it/728x90" alt=""/>
       </a>
     </div>
   </div>
</div>
<!-- End Mid ad -->
          <section class="news-text-block">
            <div class="row">
              <div class="col-md-12">
                <h3 class="block-title"><span>Tech Spot</span></h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">Audio Equalizer Apps Beyond the Smartphone Sound</a>
                    </h3>
                    <p><span>25 minutes ago</span></p>
                  </article>
              </div>

              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">Apple iOS 8 Review</a>
                    </h3>
                    <p><span>34 minutes ago</span></p>
                  </article>
              </div>

              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">The Partnership of Coffee and Tech</a>
                    </h3>
                    <p><span>52 minutes ago</span></p>
                  </article>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">Nikon D5000 review: Design, Controls, Screen</a>
                    </h3>
                    <p><span>1 hour ago</span></p>
                  </article>
              </div>

              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">8 Gadget Gifts for Father's Day</a>
                    </h3>
                    <p><span>2 hours ago</span></p>
                  </article>
              </div>

              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">Top 15 Android tablet Apps for Work and Play</a>
                    </h3>
                    <p><span>3 hours ago</span></p>
                  </article>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">iMac review</a>
                    </h3>
                    <p><span>4 hours ago</span></p>
                  </article>
              </div>

              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">15 apps you need to download right now</a>
                    </h3>
                    <p><span>5 hours ago</span></p>
                  </article>
              </div>

              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">What the Viny "Comeback" Really Looks Like</a>
                    </h3>
                    <p><span>6 hours ago</span></p>
                  </article>
              </div>
            </div>
          </section>

          <section class="news-text-block">
            <div class="row">
              <div class="col-md-12">
                <h3 class="block-title"><span>Business</span></h3>

                <article class="news-block big-block">
                  <a href="#" class="overlay-link">
                    <figure class="image-overlay">
                      <img src="http://placehold.it/730x480" alt=""/>
                    </figure>
                  </a>
                  <a href="#" class="category">
                    Business
                  </a>
                  <header class="news-details">
                    <h3 class="news-title">
                      <a href="#">
                        3 things I learned about running startup board meetings
                      </a>
                    </h3>
                    <p>As you wish. Dantooine. They're on Dantooine. Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is. Red Five standing by.</p>
                    <p class="simple-share">
                      by <a href="#"><b>John Doe</b></a> -
                      <span class="article-date"><i class="fa fa-clock-o"></i> 10 minutes ago</span>
                    </p>
                  </header>
                </article>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <article class="widget-post clearfix">
                  <div class="simple-thumb">
                    <a href="#">
                      <img src="http://placehold.it/95x80" alt=""/>
                    </a>
                  </div>
                  <header>
                    <h3>
                      <a href="#">How Technology Is Revolutionizing the Franchise World</a>
                    </h3>
                    <p class="simple-share">
                      <span><i class="fa fa-clock-o"></i> 23 minutes ago</span>
                    </p>
                  </header>
                </article>
              </div>

              <div class="col-md-6">
                <article class="widget-post clearfix">
                    <div class="simple-thumb">
                      <a href="#">
                        <img src="http://placehold.it/95x80" alt=""/>
                      </a>
                    </div>
                    <header>
                      <h3>
                        <a href="#">8 Ways to Know If Your Business Is Ready to Franchise</a>
                      </h3>
                      <p class="simple-share">
                        <span><i class="fa fa-clock-o"></i> 49 minutes ago</span>
                      </p>
                    </header>
                  </article>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <article class="widget-post clearfix">
                  <div class="simple-thumb">
                    <a href="#">
                      <img src="http://placehold.it/95x80" alt=""/>
                    </a>
                  </div>
                  <header>
                    <h3>
                      <a href="#">9 Business Leaders Share the Best and Worst Advice They've Heard</a>
                    </h3>
                    <p class="simple-share">
                      <span><i class="fa fa-clock-o"></i> 1 hour ago</span>
                    </p>
                  </header>
                </article>
              </div>

              <div class="col-md-6">
                <article class="widget-post clearfix">
                    <div class="simple-thumb">
                      <a href="#">
                        <img src="http://placehold.it/95x80" alt=""/>
                      </a>
                    </div>
                    <header>
                      <h3>
                        <a href="#">Mainland Stock Buyers Hunt Bargains in Hong Kong</a>
                      </h3>
                      <p class="simple-share">
                        <span><i class="fa fa-clock-o"></i> 2 hours ago</span>
                      </p>
                    </header>
                  </article>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <article class="widget-post clearfix">
                  <div class="simple-thumb">
                    <a href="#">
                      <img src="http://placehold.it/95x80" alt=""/>
                    </a>
                  </div>
                  <header>
                    <h3>
                      <a href="#">Tickets and prices for Metro and public transport in Milan</a>
                    </h3>
                    <p class="simple-share">
                      <span><i class="fa fa-clock-o"></i> 2 hours ago</span>
                    </p>
                  </header>
                </article>
              </div>

              <div class="col-md-6">
                <article class="widget-post clearfix">
                    <div class="simple-thumb">
                      <a href="#">
                        <img src="http://placehold.it/95x80" alt=""/>
                      </a>
                    </div>
                    <header>
                      <h3>
                        <a href="#">China builds world's longest bridge</a>
                      </h3>
                      <p class="simple-share">
                        <span><i class="fa fa-clock-o"></i> 3 hours ago</span>
                      </p>
                    </header>
                  </article>
              </div>
            </div>
          </section>

          <section class="news-text-block">
            <div class="row">
              <div class="col-md-12">
                <h3 class="block-title"><span>Editor's Pick</span></h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">Smartwatch App Concepts You Need to See</a>
                    </h3>
                    <p><span>4 hours ago</span></p>
                  </article>
              </div>

              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">How to Make Japanese-style sushi?</a>
                    </h3>
                    <p><span>4 hours ago</span></p>
                  </article>
              </div>

              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">The 20 most important Instagram pictures</a>
                    </h3>
                    <p><span>4 hours ago</span></p>
                  </article>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">Audio Equalizer Apps Beyond the Smartphone Sound</a>
                    </h3>
                    <p><span>25 minutes ago</span></p>
                  </article>
              </div>

              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">Top 15 Android tablet Apps for Work and Play</a>
                    </h3>
                    <p><span>3 hours ago</span></p>
                  </article>
              </div>

              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">9 Business Leaders Share the Best and Worst Advice</a>
                    </h3>
                    <p><span>4 hours ago</span></p>
                  </article>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">Nikon D5000 review: Design, Controls, Screen</a>
                    </h3>
                    <p><span>25 minutes ago</span></p>
                  </article>
              </div>

              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">8 Gadget Gifts for Father's Day</a>
                    </h3>
                    <p><span>2 hours ago</span></p>
                  </article>
              </div>

              <div class="col-md-4">
                  <article class="small-article">
                    <figure class="feed-image">
                      <a href="#"><img src="http://placehold.it/223x147" alt=""/></a>
                    </figure>
                    <h3>
                      <a href="#">An Interview with Photographer John Doe</a>
                    </h3>
                    <p><span>4 hours ago</span></p>
                  </article>
              </div>
            </div>
          </section>

        </div>

        <div class="col-md-4" data-stickycolumn>
  <aside class="sidebar clearfix">

    <div class="widget adwidget">
      <a href="#">
        <img src="http://placehold.it/300x250" alt=""/>
      </a>
    </div>

    <div class="widget searchwidget">
      <form class="searchwidget-form">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
    </div>

    <div class="widget tabwidget">
      <ul class="nav nav-tabs" role="tablist" id="widget-tab">
        <li role="presentation" class="active"><a href="#tab-popular" aria-controls="tab-popular" role="tab" data-toggle="tab">Popular</a></li>
        <li role="presentation"><a href="#tab-recent" aria-controls="tab-recent" role="tab" data-toggle="tab">Recent</a></li>
        <li role="presentation"><a href="#tab-comments" aria-controls="tab-comments" role="tab" data-toggle="tab">Comments</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-popular">

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">The 10 most beautiful cars money can buy</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-eye"></i> 1,129,753 views</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <span class="play-button"><i class="fa fa-play"></i></span>
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">Asian Startup Companies Boom</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-eye"></i> 989,039 views</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">9 Apps for Transforming Your Phone into The Ultimate Toolkit</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 920,540 views</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">15 Books You Should Read Before They Become Movies This Year</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 780,540 views</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">The 20 most important Instagram pictures of all time</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 725,566 views</span>
              </p>
            </header>
          </article>

        </div><!-- Popular posts -->
        <div role="tabpanel" class="tab-pane" id="tab-recent">

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">7 Tips for Creating a Functional Home Workspace</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 2 minutes ago</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">Does going to the gym count as a sport?</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 2 minutes ago</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">Older actors still hot in Hollywood</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 3 minutes ago</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">5 Gadget Gifts for Father's Day</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 3 minutes ago</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">Inside U2's Ambitious Upcoming Tour Strategy</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 5 minutes ago</span>
              </p>
            </header>
          </article>

        </div><!-- Recent Posts -->

        <div role="tabpanel" class="tab-pane" id="tab-comments">
          <div class="widget-post clearfix">
            <div class="author-thumb">
              <a href="#">
                <img src="http://placehold.it/80x80" alt=""/>
              </a>
            </div>
            <div>
              <h3>
                <a href="#">How to Buy the Right Headphones</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 12 minutes ago</span>
              </p>
            </div>
          </div>

          <div class="widget-post clearfix">
            <div class="author-thumb">
              <a href="#">
                <img src="http://placehold.it/80x80" alt=""/>
              </a>
            </div>
            <div>
              <h3>
                <a href="#">6 Tips Before Traveling Internationally</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 26 minutes ago</span>
              </p>
            </div>
          </div>

          <div class="widget-post clearfix">
            <div class="author-thumb">
              <a href="#">
                <img src="http://placehold.it/80x80" alt=""/>
              </a>
            </div>
            <div>
              <h3>
                <a href="#">The Partnership of Coffee and Tech</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 34 minutes ago</span>
              </p>
            </div>
          </div>

          <div class="widget-post clearfix">
            <div class="author-thumb">
              <a href="#">
                <img src="http://placehold.it/80x80" alt=""/>
              </a>
            </div>
            <div>
              <h3>
                <a href="#">8 Ways to Know If Your Business Is Ready to Franchise</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 40 minutes ago</span>
              </p>
            </div>
          </div>

          <div class="widget-post clearfix">
            <div class="author-thumb">
              <a href="#">
                <img src="http://placehold.it/80x80" alt=""/>
              </a>
            </div>
            <div>
              <h3>
                <a href="#">Tickets and prices for Metro and public transport in Milan</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 54 minutes ago</span>
              </p>
            </div>
          </div>
        </div><!-- Comments -->
      </div>
    </div>

    <div class="widget tagwidget">
      <h3 class="block-title"><span>Tags</span></h3>
      <ul class="tags-widget">
        <li><a href="#">Windows 10</a></li>
        <li><a href="#">FIFA 2015</a></li>
        <li><a href="#">iPhone 6</a></li>
        <li><a href="#">Flappy Bird</a></li>
        <li><a href="#">World Cup</a></li>
        <li><a href="#">WeChat desktop</a></li>
        <li><a href="#">Clash of Clans</a></li>
        <li><a href="#">Apple Watch</a></li>
        <li><a href="#">Oscar 2015</a></li>
        <li><a href="#">Taken 3</a></li>
        <li><a href="#">Lego</a></li>
      </ul>
    </div>

    <div class="widget reviewwidget">
      <h3 class="block-title"><span>Reviews</span></h3>

      <article class="widget-post clearfix">
        <div class="simple-thumb">
          <a href="#">
            <img src="http://placehold.it/95x80" alt=""/>
          </a>
        </div>
        <header>
          <h3>
            <a href="#">Nikon D5000 review: Design, Controls, Screen</a>
          </h3>
          <p class="simple-share">
            <span class="star-reviews">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </span>
          </p>
        </header>
      </article>

      <article class="widget-post clearfix">
        <div class="simple-thumb">
          <a href="#">
            <img src="http://placehold.it/95x80" alt=""/>
          </a>
        </div>
        <header>
          <h3>
            <a href="#">Apple iOS 8 Review</a>
          </h3>
          <p class="simple-share">
            <span class="star-reviews">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </span>
          </p>
        </header>
      </article>

      <article class="widget-post clearfix">
        <div class="simple-thumb">
          <a href="#">
            <img src="http://placehold.it/95x80" alt=""/>
          </a>
        </div>
        <header>
          <h3>
            <a href="#">Canon 70D review</a>
          </h3>
          <p class="simple-share">
            <span class="star-reviews">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
          </p>
        </header>
      </article>

      <article class="widget-post clearfix">
        <div class="simple-thumb">
          <a href="#">
            <img src="http://placehold.it/95x80" alt=""/>
          </a>
        </div>
        <header>
          <h3>
            <a href="#">iMac review</a>
          </h3>
          <p class="simple-share">
            <span class="star-reviews">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </span>
          </p>
        </header>
      </article>

    </div><!-- End review widget -->

    <div class="widget categorywidget">
      <h3 class="block-title"><span>Categories</span></h3>
      <ul>
        <li>
          <a href="#">Tech <span class="count">25</span></a>
        </li>
        <li>
          <a href="#">Lifestyle <span class="count">23</span></a>
        </li>
        <li>
          <a href="#">Business <span class="count">19</span></a>
        </li>
        <li>
          <a href="#">Entertainment <span class="count">20</span></a>
        </li>
      </ul>
    </div>

    <div class="widget adwidget subscribewidget">
      <h3 class="block-title"><span>Subscribe</span></h3>
      <p>The more you tighten your grip, Tarkin, the more star systems will slip through your fingers.</p>
      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter your email">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Subscribe</button>
          </span>
        </div>
      </form>
    </div>

  </aside>
</div><!-- End last column -->
      </div>
    </div><!-- .main-content -->

{% endblock %}

{% block bottom_ad %}
    <!-- End Main Banner -->
<div class="mag-content clearfix">
  <div class="row">
    <div class="col-md-12">
      <div class="ad728-wrapper">
        <a href="#">
          <img src="http://placehold.it/728x90" alt=""/>
        </a>
      </div>
    </div>
  </div>
</div>
{%  endblock %}
<!-- End Main Banner -->
  </div><!-- .main-wrapper -->

{% block footer %}
<!-- Footer -->
<footer class="footer source-org vcard copyright clearfix" id="footer" role="contentinfo">
  <div class="footer-main">
    <div class="fixed-main">
      <div class="container">
        <div class="mag-content">
          <div class="row">
            <div class="col-md-4">
              <div class="footer-block clearfix">
                <p class="clearfix">
                  <a class="logo" href="{% url 'home' %}" title="Admag - Responsive magazine HTML Template" rel="home">
                    Bridge News <span>gr</span>
                  </a><!-- .logo -->
                </p>
                <p class="description">
                  {% trans 'Το bridgenews.gr σας προσφέρει ενημέρωση για τους αγώνες μπριτζ και το πρόγραμμά τους, αλλά και αρθρογραφία, παρουσίαση πρωταθλητών, διαγωνισμούς και πολλά άλλα θέματα.' %}
                </p>
                <ul class="social-list clearfix">
                  <li class="social-facebook">
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Facebook">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="social-twitter" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Twitter">
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="social-gplus">
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Google+">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                  <li class="social-youtube">
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Youtube">
                      <i class="fa fa-youtube"></i>
                    </a>
                  </li>
                  <li class="social-instagram">
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Instagram">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li class="social-pinterest">
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Pinterest">
                      <i class="fa fa-pinterest"></i>
                    </a>
                  </li>
                  <li class="social-rss">
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="RSS">
                      <i class="fa fa-rss"></i>
                    </a>
                  </li>
                </ul>
              </div><!-- Footer Block -->
            </div>
            <div class="col-md-2">
              <div class="footer-block clearfix">
                <h3 class="footer-title">{% trans 'ΚΑΤΗΓΟΡΙΕΣ' %}</h3>
                <ul class="footer-menu">
                  <li><a href="#">{% trans 'Ειδήσεις' %}</a></li>
                  <li><a href="#">{% trans 'Άρθρα' %}</a></li>
                </ul>
              </div><!-- Footer Block -->
            </div>

            <div class="col-md-3">
              <div class="footer-block clearfix">
                <h3 class="footer-title">{% trans 'TAGS' %}</h3>
                <ul class="tags-widget">
                  <li><a href="#">{% trans 'Πρωτάθλημα' %}</a></li>
                  <li><a href="#">{% trans 'Εθνικές Ομάδες' %}</a></li>
                  <li><a href="#">{% trans 'ΑΟΜ' %}</a></li>
                  <li><a href="#">{% trans 'Πρωτάθλημα' %}</a></li>
                  <li><a href="#">{% trans 'Εθνικές Ομάδες' %}</a></li>
                  <li><a href="#">{% trans 'ΑΟΜ' %}</a></li>
                  <li><a href="#">{% trans 'Πρωτάθλημα' %}</a></li>
                  <li><a href="#">{% trans 'Εθνικές Ομάδες' %}</a></li>
                  <li><a href="#">{% trans 'ΑΟΜ' %}</a></li>
                  <li><a href="#">{% trans 'Πρωτάθλημα' %}</a></li>
                  <li><a href="#">{% trans 'Εθνικές Ομάδες' %}</a></li>
                  <li><a href="#">{% trans 'ΑΟΜ' %}</a></li>
                </ul>
              </div><!-- Footer Block -->
            </div>

            <div class="col-md-3">
              <div class="footer-block clearfix">
                <h3 class="footer-title">{% trans 'NEWSLETTER' %}</h3>
                <p>{% trans 'Εγγραφείτε ώστε να λαμβάνετε τις σημαντικότερες ειδήσεις και άρθρα στο email σας.' %}</p>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="{% trans 'Δώστε το email σας' %}">
                  </div>
                  <div class="form-group">
                      <button class="btn btn-default" type="button">{% trans 'Εγγραφή' %}</button>
                  </div>
                </form>
              </div><!-- Footer Block -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom clearfix">
    <div class="fixed-main">
      <div class="container">
        <div class="mag-content">
          <div class="row">
            <div class="col-md-6">
              <p>Copyright BridgeNews.gr © 2016.</p>
            </div>

            <div class="col-md-6">
              <div class="social-icons pull-right">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-rss"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
{% endblock %}

</div><!-- End Main -->

<!-- Mobile Menu -->
<nav id="mobile-nav">
  <div>
    <ul>
      <li>
        <a href="#">{% trans 'Ειδήσεις' %}</a>
                  {% comment %}
        <ul>
          <li><a href="index.html">Home - All Block</a></li>
          <li>
            <a href="#">Home - Grid Style</a>
            <ul>
              <li><a href="grid_sidebar.html">With Sidebar</a></li>
              <li><a href="grid.html">No Sidebar</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Home - Blog Style</a>
            <ul>
              <li><a href="blog_classic.html">Classic Blog</a></li>
              <li><a href="blog_modern.html">Modern Blog</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Home - Minimal Style</a>
            <ul>
              <li><a href="minimal.html">2 Columns</a></li>
              <li><a href="minimal_sidebar.html">2 Columns With Sidebar</a></li>
              <li><a href="minimal_full.html">3 Columns</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Home - Fixed Sidebar</a>
            <ul>
              <li><a href="fixed_left.html">Fixed Left Sidebar</a></li>
              <li><a href="fixed_right.html">Fixed Right Sidebar</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Home - 3 Different Columns</a>
            <ul>
              <li><a href="left_big.html">Left Big Column</a></li>
              <li><a href="right_big.html">Right Big Column</a></li>
            </ul>
          </li>

        </ul>
        {% endcomment %}
      </li>
      <li>
        <a href="#">{% trans 'Άρθρα' %}</a>
      </li>
      {% comment %}
      <li>
        <a href="grid.html">Tech</a>
        <ul>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Apps</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Gadgets</a></li>
          <li><a href="#">Mobile</a></li>
        </ul>
      </li>

      <li>
        <a href="minimal_blog.html">Lifestyle</a>
        <ul>
          <li><a href="#">Love</a></li>
          <li><a href="#">Advice</a></li>
          <li><a href="#">Food</a></li>
          <li><a href="#">Travel</a></li>
          <li><a href="#">Fashion</a></li>
        </ul>
      </li>

      <li><a href="blog_modern.html">Business</a></li>

      <li><a href="header-style3.html">Entertainment</a></li>

      <li>
        <a href="#">Features</a>
        <ul>
          <li>
            <a href="index.html">Header Style</a>
            <ul>
              <li><a href="index.html">Header Style 1</a></li>
              <li><a href="header-style2.html">Header Style 2</a></li>
              <li><a href="header-style3.html">Header Style 3</a></li>
              <li><a href="fixed_left.html">Header Style 4</a></li>
            </ul>
          </li><!-- .dropdown-submenu -->
          <li>
            <a href="index.html">Footer Style</a>
            <ul>
              <li><a href="index.html#footer">Footer Style 1</a></li>
              <li><a href="footer-style2.html#footer">Footer Style 2</a></li>
            </ul>
          </li><!-- .dropdown-submenu -->

          <li>
            <a href="#">Pages</a>
            <ul>
              <li><a href="page.html">About Page</a></li>
              <li><a href="page_contact.html">Contact Page</a></li>
              <li><a href="page_author.html">Author page</a></li>
              <li><a href="page_tags.html">Tags page</a></li>
              <li><a href="page_search.html">Search page</a></li>
              <li><a href="page_404.html">404 page</a></li>
            </ul>
          </li><!-- .dropdown-submenu -->

          <li>
            <a href="#">Posts</a>
            <ul>
              <li><a href="post_simple.html">Simple Post</a></li>
              <li><a href="post_review.html">Review Post</a></li>
              <li><a href="post_parallax.html">Parallax post</a></li>
              <li><a href="post_fullwidth.html">Full Width Post</a></li>
              <li><a href="post_fixed.html">Fixed Sidebar Post</a></li>
              <li><a href="post_slider.html">Gallery Post</a></li>
              <li><a href="post_video.html">Video Post</a></li>
            </ul>
          </li><!-- .dropdown-submenu -->

          <li>
            <a href="#">Category Layouts</a>
            <ul>
              <li><a href="blog_classic.html">Classic blog</a></li>
              <li><a href="blog_modern.html">Modern blog</a></li>
              <li><a href="grid_sidebar.html">Grid blog</a></li>
              <li><a href="minimal_blog.html">Minimal blog</a></li>
              <li><a href="fixed_blog.html">Fixed sidebar blog</a></li>
              <li><a href="big_blog.html">Left big column blog</a></li>
            </ul>
          </li><!-- .dropdown-submenu -->

          <li><a href="page_typography.html">Typography</a></li>
          <li><a href="page_shortcodes.html">Shortcodes</a></li>
        </ul><!-- dropdown-menu -->
      </li>
      {% endcomment %}
    </ul>
  </div>
</nav>
<!-- / Mobile Menu -->
<div id="go-top-button" class="fa fa-angle-up" title="Scroll To Top"></div>
<div class="mobile-overlay" id="mobile-overlay"></div>

<!-- Jquery js -->
<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>

<!-- Modernizr -->
<script src="{% static 'js/modernizr.min.js' %}"></script>

<!-- Bootstrap js -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>

<!-- Google map api -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<!-- Plugins js -->
<script src="{% static 'js/plugins.js' %}"></script>

<!-- Theme js -->
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>