{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% block head_title %}Bridge News{% endblock %}

{% block top_ad %}{% endblock %}
{% block content %}
<div class="main-content mag-content clearfix">

      <div class="row blog-content" data-stickyparent>
        <div class="col-md-8" data-stickycolumn>

          <article class="post-wrapper clearfix">

            <header class="post-header">

              <h1 class="post-title">
                {{ post.title }}
              </h1><!-- .post-title -->

              <a href="#" class="category bgcolor2">
                Design
              </a>

              <p class="simple-share">
                <span><a href="page_author.html"><b>{{ post.author.name }}</b></a></span>
                <span><span class="article-date"><i class="fa fa-clock-o"></i> {{ post.pub_date }}</span></span>
                <span><i class="fa fa-eye"></i> 1349 views</span>
                <a class="comments-count" href="#comments">4</a>
              </p>

              <figure class="image-overlay">
                <img src="http://placehold.it/730x425" alt="">
              </figure>
            </header><!-- .post-header -->

            <div class="post-content clearfix">
              {{ post.html|safe }}
              {% comment %}
              <p>How am I ever gonna explain this? Remember, <strong>a Jedi can feel the Force flowing through him</strong>. All right. Well, take care of yourself, Han. I guess that's what you're best at, ain't it? Still, she's got a lot of spirit. I don't know, what do you think? But with the blast shield down, I can't even see! How am I supposed to fight? I need your help, Luke. She needs your help. I'm getting too old for this sort of thing. </p>
              <h3>The Phantom Menace</h3>
              <div class="wp-caption alignright">
                <a href="http://placehold.it/1200x600" class="popup-image">
                  <img class="size-medium" src="http://placehold.it/160x120" alt=""></a>
                <p class="wp-caption-text">This is the image caption</p>
              </div>
              <p>Kid, I've flown from one side of this <a href="#">galaxy to the other</a>. I've seen a lot of strange stuff, but I've never seen anything to make me believe there's one all-powerful Force controlling everything. There's no mystical energy field that controls my destiny. It's all a lot of simple tricks and nonsense. Red Five standing by. I care. So, what do you think of her, Han? You don't believe in the Force, do you? I have traced the Rebel spies to her. Now she is my only link to finding their secret base.
                  Remember, a Jedi can feel the Force flowing through him. Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, but I've never seen anything to make me believe there's one all-powerful Force controlling everything. There's no mystical energy field that controls my destiny. It's all a lot of simple tricks and nonsense. Hey, Luke! May the Force be with you. You're all clear, kid. Let's blow this thing and go home! Partially, but it also obeys your commands. I'm surprised you had the courage to take the responsibility yourself.
              </p>

              <h3>The Rebel Force</h3>
              <div class="wp-caption alignleft">
                <a href="http://placehold.it/1200x600" class="popup-image">
                  <img class="size-medium" src="http://placehold.it/160x120" alt=""></a>
                <p class="wp-caption-text">This is the image caption</p>
              </div>
              <p>Obi-Wan is here. The Force is with him. You are a part of the Rebel Alliance and a traitor! Take her away! A tremor in the Force. The last time I felt it was in the presence of my old master. Leave that to me. Send a distress signal, and inform the Senate that all on board were killed. Look, I can take you as far as Anchorhead. You can get a transport there to Mos Eisley or wherever you're going. Hey, Luke! May the Force be with you. You mean it controls your actions? But with the blast shield down, I can't even see! How am I supposed to fight? Red Five standing by. You are a part of the Rebel Alliance and a traitor! Take her away!
                  Remember, a Jedi can feel the Force flowing through him. Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, but I've never seen anything to make me believe there's one all-powerful Force controlling everything. There's no mystical energy field that controls my destiny. It's all a lot of simple tricks and nonsense. Hey, Luke! May the Force be with you. You're all clear, kid. Let's blow this thing and go home! Partially, but it also obeys your commands. I'm surprised you had the courage to take the responsibility yourself.
              </p>
              <h3>Revenge of the Sith</h3>
              <p>Remember, a Jedi can feel the Force flowing through him. Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, but I've never seen anything to make me believe there's one all-powerful Force controlling everything. There's no mystical energy field that controls my destiny. It's all a lot of simple tricks and nonsense. Hey, Luke! May the Force be with you. You're all clear, kid. Let's blow this thing and go home! Partially, but it also obeys your commands. I'm surprised you had the courage to take the responsibility yourself.</p>
              <p>I want to come with you to Alderaan. There's nothing for me here now. I want to learn the ways of the Force and be a Jedi, like my father before me. He is here. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
              {% endcomment %}
            </div><!-- .post-content -->

            <footer class="post-meta">
              <div class="tags-wrapper">
                <ul class="tags-widget clearfix">
                  <li class="trending">TAGS:</li>
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Wood</a></li>
                  <li><a href="#">Advice</a></li>
                </ul>
              </div><!-- .tags-wrapper -->

              <div class="share-wrapper clearfix">
                <div class="total-shares">
                  <em id="countUp" data-count="267">267</em>
                  <div class="caption">Shares</div>
                </div>

                <div class="share-buttons">
                  <a class="social-share facebook" href="#">
                    <i class="fa fa-facebook"></i>
                    <span class="alt-text">Share</span>
                  </a>
                  <a class="social-share twitter" href="#">
                    <i class="fa fa-twitter"></i>
                    <span class="alt-text">Tweet</span>
                  </a>
                  <a class="social-share google-plus" href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                  <a class="social-share linked_in" href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a class="social-share pinterest" href="#">
                    <i class="fa fa-pinterest"></i>
                  </a>
                </div>
              </div>

              <div class="row">
                <div class="post-nav-wrapper clearfix">
                  <div class="col-md-6 omega">
                    <div class="previous-post">
                      <div class="post-nav-label">
                        <i class="fa fa-angle-left"></i>
                        Previous post
                      </div>
                      <a href="#" class="post-nav-title">4 apps that every smartphone must get right</a>
                    </div>
                  </div>

                  <div class="col-md-6 alpha">
                    <div class="next-post">
                      <div class="post-nav-label">
                        Next post
                        <i class="fa fa-angle-right"></i>
                      </div>
                      <a href="#" class="post-nav-title">What the Viny "Comeback" Really Looks Like</a>
                    </div>
                  </div>
                </div><!-- .post-nav-wrapper -->
              </div>

              <div class="author-box clearfix">
                <div class="author-avatar">
                  <a href="page_author.html">
                    <img alt="" src="http://placehold.it/110x110" class="avatar" height="110" width="110">
                  </a>
                </div>
                <div class="author-info">
                  <h3><a href="page_author.html">John Doe</a></h3>
                  <p class="author-bio">
                    He is here. All right. Well, take care of yourself, Han. I guess that's what you're best at, ain't it? What?! Don't act so surprised, Your Highness. You weren't on any mercy mission this time.
                  </p>
                  <div class="author-contact">
                    <a href="#"><i class="fa fa-envelope fa-lg" title="Email"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-globe fa-lg" title="Website"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter fa-lg" title="Twitter"></i></a>
                    <a href="#" rel="publisher" target="_blank"><i title="Google+" class="fa fa-google-plus fa-lg"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-facebook fa-lg" title="Facebook"></i></a>
                  </div>
                </div>
              </div>
            </footer>

          </article><!-- .post-wrapper -->

          <div class="related-posts clearfix">
  <h3 class="block-title"><span>Related Posts</span></h3>
  <div class="row">
    <div class="col-md-6">
      <article class="news-block small-block">
        <a href="#" class="overlay-link">
          <figure class="image-overlay">
            <img src="http://placehold.it/350x230" alt="">
          </figure>
        </a>
        <a href="#" class="category">
          Fashion
        </a>
        <header class="news-details">
          <h3 class="news-title">
            <a href="#">
              5 Spring Outfits For Under $200
            </a>
          </h3>
          <p class="simple-share">
            by <a href="#"><b>John Doe</b></a> -
            <span class="article-date"><i class="fa fa-clock-o"></i> 4 hours ago</span>
          </p>
        </header>
      </article>
    </div>

    <div class="col-md-6">
      <article class="news-block small-block">
        <a href="#" class="overlay-link">
          <figure class="image-overlay">
            <img src="http://placehold.it/350x230" alt="">
          </figure>
        </a>
        <a href="#" class="category">
          Travel
        </a>
        <header class="news-details">
          <h3 class="news-title">
            <a href="#">
              6 Tips Before Traveling Internationally
            </a>
          </h3>
          <p class="simple-share">
            by <a href="#"><b>John Doe</b></a> -
            <span class="article-date"><i class="fa fa-clock-o"></i> 46 minutes ago</span>
          </p>
        </header>
      </article>
    </div>
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-6">
      <article class="news-block small-block">
        <a href="#" class="overlay-link">
          <figure class="image-overlay">
            <span class="play-button"><i class="fa fa-play"></i></span>
            <img src="http://placehold.it/350x230" alt="">
          </figure>
        </a>
        <a href="#" class="category">
          Food
        </a>
        <header class="news-details">
          <h3 class="news-title">
            <a href="#">
              How to Make Perfect Homemade Pizza
            </a>
          </h3>
          <p class="simple-share">
            by <a href="#"><b>John Doe</b></a> -
            <span class="article-date"><i class="fa fa-clock-o"></i> 12 hours ago</span>
          </p>
        </header>
      </article>
    </div>

    <div class="col-md-6">
      <article class="news-block small-block">
        <a href="#" class="overlay-link">
          <figure class="image-overlay">
            <img src="http://placehold.it/350x230" alt="">
          </figure>
        </a>
        <a href="#" class="category">
          Advice
        </a>
        <header class="news-details">
          <h3 class="news-title">
            <a href="#">
              10 Tips for Taking Great Outdoor Photos
            </a>
          </h3>
          <p class="simple-share">
            by <a href="#"><b>John Doe</b></a> -
            <span class="article-date"><i class="fa fa-clock-o"></i> 13 hours ago</span>
          </p>
        </header>
      </article>
    </div>
  </div><!-- .row -->

</div><!-- .related-post -->
          <!-- Mid ad -->
<div class="row">
   <div class="col-md-12">
     <div class="ad728-wrapper mid-wrapper">
       <a href="#">
         <img src="http://placehold.it/728x90" alt=""/>
       </a>
     </div>
   </div>
</div>
<!-- End Mid ad -->
          <!-- Comment List -->
<div id="comments" class="comments-wrapper clearfix">
  <h3 class="block-title"><span>Comments</span></h3>

  <ol class="comment-list">
    <li class="depth-1">
      <div class="comment-body">
        <div class="comment-meta">
          <div class="comment-author vcard">
            <div class="avatar-wrapper">
              <img alt="" src="http://placehold.it/80x80" class="avatar">
            </div>
            <div class="comment-metadata">
              <p class="fn">
                <a href="#" rel="external nofollow" class="author-name">Stephen Thompson</a>
                <span class="time">March 12, 2015 at 8:41 am</span>
              </p>
            </div><!-- .comment-metadata -->
          </div><!-- .comment-author -->
        </div><!-- .comment-meta -->

        <div class="comment-content">
            <p>The more you tighten your grip, Tarkin, the more star systems will slip through your fingers. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
        </div><!-- .comment-content -->

        <div class="reply"><a class="comment-reply-link" href="#respond">Reply</a></div>
      </div><!-- .comment-body -->
      <ol class="children">
        <li class="depth-2">
          <div class="comment-body">
            <div class="comment-meta">
              <div class="comment-author vcard">
                <div class="avatar-wrapper">
                  <img alt="" src="http://placehold.it/80x80" class="avatar">
                </div>
                <div class="comment-metadata">
                  <p class="fn">
                    <a href="https://wordpress.org/" rel="external nofollow" class="author-name">Martha Collins</a>
                    <span class="time">March 12, 2015 at 11:02 am</span>
                  </p>
                </div><!-- .comment-metadata -->
              </div><!-- .comment-author -->

              </div><!-- .comment-meta -->

              <div class="comment-content">
                  <p>The more you tighten your grip, Tarkin, the more star systems will slip through your fingers. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
              </div><!-- .comment-content -->

              <div class="reply"><a class="comment-reply-link" href="#respond">Reply</a></div>
          </div><!-- .comment-body -->

          <ol class="children">
            <li class="depth-3">
              <div class="comment-body">
                <div class="comment-meta">
                  <div class="comment-author vcard">
                    <div class="avatar-wrapper">
                      <img alt="" src="http://placehold.it/80x80" class="avatar">
                    </div>
                    <div class="comment-metadata">
                      <p class="fn">
                        <a href="https://wordpress.org/" rel="external nofollow" class="author-name">Stephen Thompson</a>
                        <span class="time">March 12, 2015 at 11:34 am</span>
                      </p>
                    </div><!-- .comment-metadata -->
                  </div><!-- .comment-author -->

                  </div><!-- .comment-meta -->

                  <div class="comment-content">
                      <p>The more you tighten your grip, Tarkin, the more star systems will slip through your fingers. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
                  </div><!-- .comment-content -->

                  <div class="reply"><a class="comment-reply-link" href="#respond">Reply</a></div>
              </div><!-- .comment-body -->
            </li><!-- #comment-## -->
          </ol><!-- .children -->
        </li><!-- #comment-## -->
      </ol><!-- .children -->
    </li><!-- #comment-## -->

    <li class="depth-1">
      <div class="comment-body">
        <div class="comment-meta">
          <div class="comment-author vcard">
            <div class="avatar-wrapper">
              <img alt="" src="http://placehold.it/80x80" class="avatar">
            </div>
            <div class="comment-metadata">
              <p class="fn">
                <a href="https://wordpress.org/" rel="external nofollow" class="author-name">Lauren Daniels</a>
                <span class="time">March 18, 2015 at 2:41 pm</span>
              </p>
            </div><!-- .comment-metadata -->
          </div><!-- .comment-author -->

        </div><!-- .comment-meta -->

        <div class="comment-content">
            <p>The more you tighten your grip, Tarkin, the more star systems will slip through your fingers. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
        </div><!-- .comment-content -->

        <div class="reply"><a class="comment-reply-link" href="#respond">Reply</a></div>
      </div><!-- .comment-body -->
    </li><!-- #comment-## -->

  </ol><!-- .comment-list -->

  <!-- Comment form -->
  <div id="respond" class="comment-form clearfix">

      <h3 class="comment-title">Leave a Comment</h3>

      <form class="clearfix" action="#" method="post" id="commentform">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="author" id="author" value="" tabindex="1" class="form-control" placeholder="Name *">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <input type="text" name="email" id="email" value="" tabindex="2" class="form-control" placeholder="Email *">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
                <textarea name="comment" cols="50" rows="6" tabindex="4" class="form-control" placeholder="Your comment *"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          <button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="btn btn-default">Submit</button>

          </div>
        </div>
      </form>
  </div><!-- #respond comments -->
</div>
        </div><!-- End Left big column -->

        <div class="col-md-4" data-stickycolumn>
  <aside class="sidebar clearfix">

    <div class="widget adwidget">
      <a href="#">
        <img src="http://placehold.it/300x250" alt=""/>
      </a>
    </div>

    <div class="widget searchwidget">
      <form class="searchwidget-form">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
    </div>

    <div class="widget tabwidget">
      <ul class="nav nav-tabs" role="tablist" id="widget-tab">
        <li role="presentation" class="active"><a href="#tab-popular" aria-controls="tab-popular" role="tab" data-toggle="tab">Popular</a></li>
        <li role="presentation"><a href="#tab-recent" aria-controls="tab-recent" role="tab" data-toggle="tab">Recent</a></li>
        <li role="presentation"><a href="#tab-comments" aria-controls="tab-comments" role="tab" data-toggle="tab">Comments</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-popular">

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">The 10 most beautiful cars money can buy</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-eye"></i> 1,129,753 views</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <span class="play-button"><i class="fa fa-play"></i></span>
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">Asian Startup Companies Boom</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-eye"></i> 989,039 views</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">9 Apps for Transforming Your Phone into The Ultimate Toolkit</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 920,540 views</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">15 Books You Should Read Before They Become Movies This Year</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 780,540 views</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">The 20 most important Instagram pictures of all time</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 725,566 views</span>
              </p>
            </header>
          </article>

        </div><!-- Popular posts -->
        <div role="tabpanel" class="tab-pane" id="tab-recent">

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">7 Tips for Creating a Functional Home Workspace</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 2 minutes ago</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">Does going to the gym count as a sport?</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 2 minutes ago</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">Older actors still hot in Hollywood</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 3 minutes ago</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">5 Gadget Gifts for Father's Day</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 3 minutes ago</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">Inside U2's Ambitious Upcoming Tour Strategy</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 5 minutes ago</span>
              </p>
            </header>
          </article>

        </div><!-- Recent Posts -->

        <div role="tabpanel" class="tab-pane" id="tab-comments">
          <div class="widget-post clearfix">
            <div class="author-thumb">
              <a href="#">
                <img src="http://placehold.it/80x80" alt=""/>
              </a>
            </div>
            <div>
              <h3>
                <a href="#">How to Buy the Right Headphones</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 12 minutes ago</span>
              </p>
            </div>
          </div>

          <div class="widget-post clearfix">
            <div class="author-thumb">
              <a href="#">
                <img src="http://placehold.it/80x80" alt=""/>
              </a>
            </div>
            <div>
              <h3>
                <a href="#">6 Tips Before Traveling Internationally</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 26 minutes ago</span>
              </p>
            </div>
          </div>

          <div class="widget-post clearfix">
            <div class="author-thumb">
              <a href="#">
                <img src="http://placehold.it/80x80" alt=""/>
              </a>
            </div>
            <div>
              <h3>
                <a href="#">The Partnership of Coffee and Tech</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 34 minutes ago</span>
              </p>
            </div>
          </div>

          <div class="widget-post clearfix">
            <div class="author-thumb">
              <a href="#">
                <img src="http://placehold.it/80x80" alt=""/>
              </a>
            </div>
            <div>
              <h3>
                <a href="#">8 Ways to Know If Your Business Is Ready to Franchise</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 40 minutes ago</span>
              </p>
            </div>
          </div>

          <div class="widget-post clearfix">
            <div class="author-thumb">
              <a href="#">
                <img src="http://placehold.it/80x80" alt=""/>
              </a>
            </div>
            <div>
              <h3>
                <a href="#">Tickets and prices for Metro and public transport in Milan</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 54 minutes ago</span>
              </p>
            </div>
          </div>
        </div><!-- Comments -->
      </div>
    </div>

    <div class="widget tagwidget">
      <h3 class="block-title"><span>Tags</span></h3>
      <ul class="tags-widget">
        <li><a href="#">Windows 10</a></li>
        <li><a href="#">FIFA 2015</a></li>
        <li><a href="#">iPhone 6</a></li>
        <li><a href="#">Flappy Bird</a></li>
        <li><a href="#">World Cup</a></li>
        <li><a href="#">WeChat desktop</a></li>
        <li><a href="#">Clash of Clans</a></li>
        <li><a href="#">Apple Watch</a></li>
        <li><a href="#">Oscar 2015</a></li>
        <li><a href="#">Taken 3</a></li>
        <li><a href="#">Lego</a></li>
      </ul>
    </div>

    <div class="widget reviewwidget">
      <h3 class="block-title"><span>Reviews</span></h3>

      <article class="widget-post clearfix">
        <div class="simple-thumb">
          <a href="#">
            <img src="http://placehold.it/95x80" alt=""/>
          </a>
        </div>
        <header>
          <h3>
            <a href="#">Nikon D5000 review: Design, Controls, Screen</a>
          </h3>
          <p class="simple-share">
            <span class="star-reviews">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </span>
          </p>
        </header>
      </article>

      <article class="widget-post clearfix">
        <div class="simple-thumb">
          <a href="#">
            <img src="http://placehold.it/95x80" alt=""/>
          </a>
        </div>
        <header>
          <h3>
            <a href="#">Apple iOS 8 Review</a>
          </h3>
          <p class="simple-share">
            <span class="star-reviews">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </span>
          </p>
        </header>
      </article>

      <article class="widget-post clearfix">
        <div class="simple-thumb">
          <a href="#">
            <img src="http://placehold.it/95x80" alt=""/>
          </a>
        </div>
        <header>
          <h3>
            <a href="#">Canon 70D review</a>
          </h3>
          <p class="simple-share">
            <span class="star-reviews">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
          </p>
        </header>
      </article>

      <article class="widget-post clearfix">
        <div class="simple-thumb">
          <a href="#">
            <img src="http://placehold.it/95x80" alt=""/>
          </a>
        </div>
        <header>
          <h3>
            <a href="#">iMac review</a>
          </h3>
          <p class="simple-share">
            <span class="star-reviews">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </span>
          </p>
        </header>
      </article>

    </div><!-- End review widget -->

    <div class="widget categorywidget">
      <h3 class="block-title"><span>Categories</span></h3>
      <ul>
        <li>
          <a href="#">Tech <span class="count">25</span></a>
        </li>
        <li>
          <a href="#">Lifestyle <span class="count">23</span></a>
        </li>
        <li>
          <a href="#">Business <span class="count">19</span></a>
        </li>
        <li>
          <a href="#">Entertainment <span class="count">20</span></a>
        </li>
      </ul>
    </div>

    <div class="widget adwidget subscribewidget">
      <h3 class="block-title"><span>Subscribe</span></h3>
      <p>The more you tighten your grip, Tarkin, the more star systems will slip through your fingers.</p>
      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter your email">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Subscribe</button>
          </span>
        </div>
      </form>
    </div>

  </aside>
</div><!-- End last column -->
      </div><!-- .blog-content -->

    </div><!-- .main-content -->
{% endblock %}
{% block bottom_ad %}{% endblock %}