{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% block head_title %}Bridge News{% endblock %}

{% block top_ad %}{% endblock %}
{% block content %}
    <div class="main-content mag-content clearfix" data-stickyparent>

      <div class="row blog-content">
        <div class="col-md-8">
            <h3 class="block-title"><span>{% trans 'ΤΕΛΕΥΤΑΙΑ ΝΕΑ' %}</span></h3>

            {%  for post in posts %}
            {% if forloop.first %}
            <article class="news-block big-block">
              <a href="{{ post.get_absolute_url }}" class="overlay-link">
                <figure class="image-overlay">
                  <img src="http://placehold.it/730x480" alt=""/>
                </figure>
              </a>
              <a href="#" class="category">
                Business
              </a>
              <header class="news-details">
                <h3 class="news-title">
                  <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                  </a>
                </h3>
                <p>{{ post.teaser }}</p>
                <p class="simple-share">
                  <a href="#"><b>{{ post.author.name }}</b></a> -
                  <span class="article-date"><i class="fa fa-clock-o"></i> {{ post.pub_date }}</span>
                </p>
              </header>
            </article>
            {% else %}

            <article class="simple-post simple-big clearfix">
              <div class="simple-thumb">

                <a href="{{ post.get_absolute_url }}">
                  <img src="http://placehold.it/255x180" alt=""/>
                </a>
              </div>
              <header>
                <p class="simple-share">
                  <a href="#">Business</a> /
                  <a href="#">{{ post.author.name }}</a> -
                  <span><i class="fa fa-clock-o"></i> {{ post.pub_date }}</span>
                </p>

                <h3>
                  <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h3>

                <p class="excerpt">
                  {{ post.teaser }}
                </p>
              </header>
            </article>
            {%  endif %}
            {%  endfor %}


            <div class="load-more">
              <button type="button" class="btn btn-lg btn-block">Load more</button>
            </div>

        </div><!-- End Left big column -->

        <div class="col-md-4" data-stickycolumn>
  <aside class="sidebar clearfix">

    <div class="widget author-widget">
      <div class="author-thumb">
        <a href="page_author.html">
          <img src="http://placehold.it/141x141" alt=""/>
        </a>
      </div>
      <div class="author-meta">
        <h3 class="author-title">
          <a href="page_author.html">John Doe</a>
        </h3>
        <p class="author-position">Chief editor</p>
        <p class="author-bio">He is here. All right. Well, take care of yourself, Han. I guess that's what you're best at, ain't it? What?! Don't act so surprised, Your Highness. You weren't on any mercy mission this time.</p>
        <div class="author-page-contact">
          <a href="#">
            <i class="fa fa-envelope-o"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fa fa-link"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="widget adwidget">
      <a href="#">
        <img src="http://placehold.it/300x250" alt=""/>
      </a>
    </div>

    <div class="widget searchwidget">
      <form class="searchwidget-form">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
    </div>

    <div class="widget tabwidget">
      <ul class="nav nav-tabs" role="tablist" id="widget-tab">
        <li role="presentation" class="active"><a href="#tab-popular" aria-controls="tab-popular" role="tab" data-toggle="tab">Popular</a></li>
        <li role="presentation"><a href="#tab-recent" aria-controls="tab-recent" role="tab" data-toggle="tab">Recent</a></li>
        <li role="presentation"><a href="#tab-comments" aria-controls="tab-comments" role="tab" data-toggle="tab">Comments</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-popular">

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">The 10 most beautiful cars money can buy</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-eye"></i> 1,129,753 views</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <span class="play-button"><i class="fa fa-play"></i></span>
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">Asian Startup Companies Boom</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-eye"></i> 989,039 views</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">9 Apps for Transforming Your Phone into The Ultimate Toolkit</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 920,540 views</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">15 Books You Should Read Before They Become Movies This Year</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 780,540 views</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">The 20 most important Instagram pictures of all time</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 725,566 views</span>
              </p>
            </header>
          </article>

        </div><!-- Popular posts -->
        <div role="tabpanel" class="tab-pane" id="tab-recent">

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">7 Tips for Creating a Functional Home Workspace</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 2 minutes ago</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">Does going to the gym count as a sport?</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 2 minutes ago</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">Older actors still hot in Hollywood</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 3 minutes ago</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">5 Gadget Gifts for Father's Day</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 3 minutes ago</span>
              </p>
            </header>
          </article>

          <article class="widget-post clearfix">
            <div class="simple-thumb">
              <a href="#">
                <img src="http://placehold.it/95x80" alt=""/>
              </a>
            </div>
            <header>
              <h3>
                <a href="#">Inside U2's Ambitious Upcoming Tour Strategy</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 5 minutes ago</span>
              </p>
            </header>
          </article>

        </div><!-- Recent Posts -->

        <div role="tabpanel" class="tab-pane" id="tab-comments">
          <div class="widget-post clearfix">
            <div class="author-thumb">
              <a href="#">
                <img src="http://placehold.it/80x80" alt=""/>
              </a>
            </div>
            <div>
              <h3>
                <a href="#">How to Buy the Right Headphones</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 12 minutes ago</span>
              </p>
            </div>
          </div>

          <div class="widget-post clearfix">
            <div class="author-thumb">
              <a href="#">
                <img src="http://placehold.it/80x80" alt=""/>
              </a>
            </div>
            <div>
              <h3>
                <a href="#">6 Tips Before Traveling Internationally</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 26 minutes ago</span>
              </p>
            </div>
          </div>

          <div class="widget-post clearfix">
            <div class="author-thumb">
              <a href="#">
                <img src="http://placehold.it/80x80" alt=""/>
              </a>
            </div>
            <div>
              <h3>
                <a href="#">The Partnership of Coffee and Tech</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 34 minutes ago</span>
              </p>
            </div>
          </div>

          <div class="widget-post clearfix">
            <div class="author-thumb">
              <a href="#">
                <img src="http://placehold.it/80x80" alt=""/>
              </a>
            </div>
            <div>
              <h3>
                <a href="#">8 Ways to Know If Your Business Is Ready to Franchise</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 40 minutes ago</span>
              </p>
            </div>
          </div>

          <div class="widget-post clearfix">
            <div class="author-thumb">
              <a href="#">
                <img src="http://placehold.it/80x80" alt=""/>
              </a>
            </div>
            <div>
              <h3>
                <a href="#">Tickets and prices for Metro and public transport in Milan</a>
              </h3>
              <p class="simple-share">
                <span><i class="fa fa-clock-o"></i> 54 minutes ago</span>
              </p>
            </div>
          </div>
        </div><!-- Comments -->
      </div>
    </div>

    <div class="widget tagwidget">
      <h3 class="block-title"><span>Tags</span></h3>
      <ul class="tags-widget">
        <li><a href="#">Windows 10</a></li>
        <li><a href="#">FIFA 2015</a></li>
        <li><a href="#">iPhone 6</a></li>
        <li><a href="#">Flappy Bird</a></li>
        <li><a href="#">World Cup</a></li>
        <li><a href="#">WeChat desktop</a></li>
        <li><a href="#">Clash of Clans</a></li>
        <li><a href="#">Apple Watch</a></li>
        <li><a href="#">Oscar 2015</a></li>
        <li><a href="#">Taken 3</a></li>
        <li><a href="#">Lego</a></li>
      </ul>
    </div>

    <div class="widget reviewwidget">
      <h3 class="block-title"><span>Reviews</span></h3>

      <article class="widget-post clearfix">
        <div class="simple-thumb">
          <a href="#">
            <img src="http://placehold.it/95x80" alt=""/>
          </a>
        </div>
        <header>
          <h3>
            <a href="#">Nikon D5000 review: Design, Controls, Screen</a>
          </h3>
          <p class="simple-share">
            <span class="star-reviews">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </span>
          </p>
        </header>
      </article>

      <article class="widget-post clearfix">
        <div class="simple-thumb">
          <a href="#">
            <img src="http://placehold.it/95x80" alt=""/>
          </a>
        </div>
        <header>
          <h3>
            <a href="#">Apple iOS 8 Review</a>
          </h3>
          <p class="simple-share">
            <span class="star-reviews">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </span>
          </p>
        </header>
      </article>

      <article class="widget-post clearfix">
        <div class="simple-thumb">
          <a href="#">
            <img src="http://placehold.it/95x80" alt=""/>
          </a>
        </div>
        <header>
          <h3>
            <a href="#">Canon 70D review</a>
          </h3>
          <p class="simple-share">
            <span class="star-reviews">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
          </p>
        </header>
      </article>

      <article class="widget-post clearfix">
        <div class="simple-thumb">
          <a href="#">
            <img src="http://placehold.it/95x80" alt=""/>
          </a>
        </div>
        <header>
          <h3>
            <a href="#">iMac review</a>
          </h3>
          <p class="simple-share">
            <span class="star-reviews">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </span>
          </p>
        </header>
      </article>

    </div><!-- End review widget -->

    <div class="widget categorywidget">
      <h3 class="block-title"><span>Categories</span></h3>
      <ul>
        <li>
          <a href="#">Tech <span class="count">25</span></a>
        </li>
        <li>
          <a href="#">Lifestyle <span class="count">23</span></a>
        </li>
        <li>
          <a href="#">Business <span class="count">19</span></a>
        </li>
        <li>
          <a href="#">Entertainment <span class="count">20</span></a>
        </li>
      </ul>
    </div>

    <div class="widget adwidget subscribewidget">
      <h3 class="block-title"><span>Subscribe</span></h3>
      <p>The more you tighten your grip, Tarkin, the more star systems will slip through your fingers.</p>
      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter your email">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Subscribe</button>
          </span>
        </div>
      </form>
    </div>

  </aside>
</div><!-- End last column -->
      </div><!-- .main-body -->

    </div><!-- .main-content -->
{% endblock %}
{% block bottom_ad %}{% endblock %}